{% extends 'psr/base.html' %}
{% load static %}
{% block content %} 
  
  


    
   
   <!-- card- -->


  <div class="container my-5 ">
    <div class="row mb-2 d-flex justify-content-center align-items-center">
        <div class="col-md-9">
    
            <div class="card " >

               <div class="card-body">
                 <strong class="d-inline-block mb-2 text-primary">{{post.author}}</strong>
                 <div class="mb-1 text-muted">{{post.date_posted|date:"F d, Y"}}</div>
                 {% if object.author == user %} 
          

                    <a class="btn btn-md btn-success btn-outline-secondary  mt-3 mb-3"   href="{% url 'post-update' object.id %}" >Update</a>
                    <a class="btn btn-md btn-danger btn-outline-secondary mx-2  mt-3 mb-3"   href="{% url 'post-delete' object.id %}" >Delete</a>

                {% endif %}

                <img src="{{ post.photo.url }}" height="500"  class="card-img-top" alt="..."   >  

              </div>
        
              <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.content}}</p>
                
            </div>
     
    
        </div>
      </div>
  </div>
</div>
  {% endblock content %}
  
  